
<div class="card" style="width: 18rem;">
  <% @posts.each do |post| %>
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><%= tweet.title %></h5>
      <p class="card-text"><%= tweet.body %></p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  <% end %>
</div>
